*{
  padding: 0;
  margin: 0;
}
body{

  color: #555;
  font-family: 'Avenir Next','Lantinghei SC';
  font-size: 14px;
  /* 字体平滑 */
  -webkit-font-smoothing: antialiased;
}
.warp{
  width: 100%;
  height: 600px;
  border: 1px solid #ccc;
  background: -webkit-gradint(linear,0% 20%,0% 92%,from(#fff),to(#f3f3f3),color-stop(.1,#fff) );
  overflow: hidden;
  -webkit-border-radius: 260px 50px;
  -webkit-box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1) inset;
  -webkit-perspective:800px;

}
.photo{
  width: 300px;
  height: 370px;
  position: absolute;
  z-index: 1;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
}
.photo .side{
  width: 100%;
  height: 87%;
  background-color: rgba(245,245,245,0.7);
  position: absolute;
  top: 0;
  right: 0;
  padding: 35px;
  -webkit-border-radius: 40px 40px;
  box-sizing: border-box;/* 不破坏盒模型 */
}
.photo-center .side{
  background-color: rgba(255,255,240,0.95);
}

.photo .side-front .image{
  width: 95%;
  height: 95%;
  padding-left: 7px;
  line-height: 250px;
  overflow: hidden;
}
.photo .side-front .image img{
  width: 100%;
}
.photo .side-front .caption{
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  padding-right: 10px;
  /*line-height: 50px;*/
  /* margin-top: -15px; */
  font-family: 'Lato', Arial, sans-serif;
}
.photo .side-back .desc{
  text-align: center;
  font-size: 17px;
  color: #666;
  line-height: 1.5em;
}
.photo-center{
  position: absolute;
  top: 50%;
  left: 47%;
  margin: -160px 0 0 -130px;
  z-index: 999;
  -webkit-transition: all 1s;
}
.photo-warp{
  position: absolute;
  width: 95%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 1s;
}
.photo-warp .side{
  padding: 25px 15px 35px 21px;
}
.photo-warp .side-front{
  -webkit-transform: rotateY(0deg);
}
.photo-warp .side-back{
  -webkit-transform: rotateY(180deg);
}
.photo-warp .side{
  -webkit-backface-visibility: hidden;
}
.photo-front .photo-warp{
  -webkit-transform: rotateY(0deg);
}
.photo-back .photo-warp{
  -webkit-transform: rotateY(180deg);
}

.controal{
  width: 200px;
  height: 70px;
  position: absolute;
  top: 80%;
  text-align: center;
  left: 45%;
  /*margin-right: 50%;*/
  /*background-color: red;*/
  z-index: 999;
}
.controal span{
  width: 15px;
  height: 13px;
  border-radius: 50%;
  position: relative;
  margin: 3px;
  padding: 2px;
  display: inline-block;
  text-align: center;
  background-color: blue;

}
