#skin{
	width: 680px;
	height: 345px;
	border: 1px solid #ccc;
	position: absolute;
	display: none;
	z-index: 9999;
	background: #fff;
}

#skin h2{
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 24px;
	letter-spacing: 1px;
	color: #666;
	background-color: #eee;
	margin: 0;
	padding: 0;
	border-bottom:1px solid #ccc;
	cursor: move;
	font-family: "楷体";
}
#skin p{
	margin: 5px 0 0 35px;
	display: inline-block;
	font-family: "NSimSun";
	font-weight: bold;
}
#skin .row .thumbnail button{
	margin-left: 40px;
}
#skin .row img{
	width: 250px;
	height: 90px;
	margin: 0;
}


.close-local{
	margin: 8px 5px 0 0;
}

.login{
	width: 334px;
	height: 310px;
	border: 1px solid #ccc;
	position: absolute;
	display: none;
	z-index: 9999;
	background: #fff;
	right: 5%;
}
.login h3{
	margin: 0 0 35px 0;
	padding: 0;
	height: 50px;
	background-color: #f9fbfe;
	text-align: center;
	line-height: 50px;
}
.login input{
	width: 70%;
	margin: auto;
}
.login .btn{
	width: 70%;
	height: 45%;
	margin-left: 15%;
	margin-top: 15px;
	margin-bottom: 31px;
}
.nothing{
	padding: 0 27px 5px 0;
	text-align: right;
}
.register{
	width: 334px;
	height: 380px;
	border: 1px solid #ccc;
	position: absolute;
	display: none;
	z-index: 9999;
	background: #fff;
	right: 5%;
}
.register h3{
	margin: 0 0 35px 0;
	padding: 0;
	height: 50px;
	background-color: #f9fbfe;
	text-align: center;
	line-height: 50px;
}
.register input{
	width: 70%;
	margin: auto;
}
.register .btn{
	width: 70%;
	height: 45%;
	margin-left: 15%;
	margin-top: 15px;
	margin-bottom: 31px;
}
